
table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Times New Roman';
    margin: 0px;
}
td, th, table{
    border: 1px solid;
    text-align: center;
    border-color: black;
}
th{
    background-color: maroon;
    color: white;
    font-style: bold;
}
td{
    color: black;
}