.global{
    margin: 0;
}
h1{
    margin: 0;
    text-align: center;
}
#menu{
    background-color: orangered;
    height: 40px;
}
#header{
    background-color: brown;
    height: 200px;
    
}
#konten{
    background-color: blue;
    height: 600px;
}
#footer{
    background-color: yellow;
    height: 60px;
}